/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-image: url('../image/background.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* Center Content */
.center-content {
    width: 80%;
    height: 100%;
    max-width: 1200px;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 40px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    text-align: center;
}

/* Header (Main Title) */
#main-title {
    font-family: 'Cinzel', serif;
    font-size: 40px;
    color: crimson;
    text-align: center;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    margin-bottom: 10px;
    border-radius: 5px;
}

/* Subtitle Styling */
#subtitle {
    font-family: 'Cinzel', serif;
    font-size: 25px;
    color: darkred;
    margin-bottom: 30px;
}

/* Box Styling for Sections */
.box {
    margin-top: 15px;
    text-align: justify;
}

/* Paragraphs */
p {
    line-height: 1.6;
}

/* Highlighted text */
.highlight {
    font-family: 'Cinzel', serif;
    font-size: 16px;
    text-align: justify;
    color: white;
    background-color: goldenrod;
    padding: 5px;
    border-radius: 5px;
    display: inline-block;
}

/* Implement flexbox */
.flex_vertical {
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
    justify-content: left;
    gap: 10px;
}

.flex_horizontal {
    display: flex;
    flex-direction: row;
    padding: 5px;
    gap: 10px;
}

.flex_header {
    font-family: Arial, sans-serif;
    background-color: #333;
    font-size: 18px;
    text-align: center;
    color: white;
    border: 1px solid #333;
    border-radius: 5px;
    flex: 1;
}

.flex_detail {
    font-family: Arial, sans-serif;
    font-size: 16px;
    text-align: left;
    border-radius: 5px;
    color: #333;
    background-color: aliceblue;
    flex: 1;
    line-height: 1.6;
}

/* Footer */
footer {
    font-family: 'Cinzel', serif;
    font-size: 15px;
    text-align: center;
    padding: 5px;
    background-color: #333;
    color: white;
}

/* Button Styling for detail */
.btnDetail {
    background-color: crimson;
    color: white;
    padding: 12px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease;
}

.btnDetail:hover {
    background-color: darkorange;
}

/* Button Styling for confirmation*/
.btnConfirm {
    margin-top: 20px;
    padding: 12px 150px;
    font-size: 18px;
    background-color: goldenrod;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.btnConfirm:hover {
    background-color: darkgoldenrod;
}

/* Select styles*/
select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Navigation */
a {
    font-family: 'Cinzel', serif;
    font-size: 20px;
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Hint text for choosing class */
select option[disabled] {
    color: #888;
}

/* Format form to name a character */
#character-name{
    color: #333;
    border-radius: 5px;
    flex: 1;
    width: 100%;
    padding: 15px;
}

.flex_detail ::placeholder{
    color: #888;
    font-style: italic;
}

/* Style for the stats table */
#stats-table-1 {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

/* Table row and cell styling */
#stats-table-1 td {
    padding: 8px;
    border: 1px solid #333;
    text-align: left;
    background-color: aliceblue;
}

#stats-table-2 {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

#stats-table-2 td {
    padding: 8px;
    border: 1px solid #333;
    text-align: left;
    background-color: aliceblue;
}

#stats-table-3 {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

#stats-table-3 td {
    padding: 8px;
    border: 1px solid #333;
    text-align: left;
    background-color: aliceblue;
}

#stats-table-4 {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

#stats-table-4 td {
    padding: 8px;
    border: 1px solid #333;
    text-align: left;
    background-color: aliceblue;
}
